<h1>Sign Up</h1>
  <form id="signup">
    <div>
      <label for="username">Username:</label>
      <input
        type="text"
        id="username"
        placeholder="Username"
      />
    </div>
    <div>
      <label for="email">Email:</label>
      <input 
      type="email" 
      id="email" 
      placeholder="Email" 
      />
    </div>
    <div>
      <label for="password">Password:</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Password"
      />
    </div>
    <button type="submit">Sign Up</button>
  </form>

